<%- include('../layouts/adminHeader.ejs') %>
  
  <nav class="navbar navbar-expand-xl">
    <div class="container h-100 ">
      <a class="navbar-brand" href="/admin/home">
        <h1 class="tm-site-title mb-0 font">OrganiFresh</h1>
      </a>
      <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-justify" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
          </svg></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto h-100">
          <li class="nav-item">
            <a class="nav-link" href="/admin/home">
              <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-speedometer2" viewBox="0 0 16 16">
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
                  <path fill-rule="evenodd"
                    d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
                </svg></i>
              Dashboard
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin/userData">
              <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                  <path
                    d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                </svg></i>
              User Data
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="/admin/addProduct">
              <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-capslock" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H11.5v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1H1.654C.78 9.5.326 8.455.924 7.816L7.27 1.047zM14.346 8.5 8 1.731 1.654 8.5H4.5a1 1 0 0 1 1 1v1h5v-1a1 1 0 0 1 1-1h2.846zm-9.846 5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1zm6 0h-5v1h5v-1z" />
                </svg></i>
              Add Product
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="/admin/products">
              <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-box-seam" viewBox="0 0 16 16">
                  <path
                    d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z" />
                </svg></i>
              Products
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/admin/category">
              <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-c-square-fill" viewBox="0 0 16 16">
                  <path
                    d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm6.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z" />
                </svg></i>
              Category
            </a>
          </li>
           
          <li class="nav-item dropdown mt-3">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-cog"></i>
                <span>
                    More <i class="fas fa-angle-down"></i>
                </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/admin/coupon">Coupon</a>
                <a class="dropdown-item" href="/admin/banner">Home Page Controls</a>
                <a class="dropdown-item" href="/admin/salesReport">Sales Report</a>
            </div>
        </li>

        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link d-block" href="/admin/logout">
              <b>Logout</b>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>




  <div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12">
              <h2 class="tm-block-title d-inline-block">Update Product</h2>
            </div>
          </div>
          <div class="row tm-edit-product-row">
            <div class="col-xl-6 col-lg-6 col-md-12">
              <form action="/admin/editProduct?id=<%=product._id%>" method="post" id="editform" class="tm-edit-product-form"  enctype="multipart/form-data">
                <div class="form-group mb-3">
                  <label for="name">Product Name
                  </label>
                  <input name="title" type="text" id="title" value="<%=product.title%>" class="form-control" required />
                </div>
                <div class="form-group mb-3">
                  <label for="name">Brand
                  </label>
                  <input name="brand" type="text" id="brand" value="<%= product.brand %>" class="form-control" required />
                </div>
                <div class="form-group mb-3">
                  <label for="description">Description</label>
                  <input name="description" type="text" id="description" value="<%= product.description %>" class="form-control" rows="3"/>
                </div>
                <div class="form-group mb-3">
                  <label for="name">Price</label>
                  <input name="price" type="float" id="price" value="<%= product.price %>" class="form-control" required />
                </div>
                <div class="form-group mb-3">
                  <label for="name">Stocks</label>
                  <input name="stocks" type="number" id="stocks" value="<%= product.stocks %>" class="form-control" required />
                </div>
                <div class="form-group mb-3">
                  <label for="category">Category</label>
                  <select name="category" class="custom-select tm-select-accounts" id="category">
                    <option selected value="<%=product.category.category%>">
                      Select Category
                    </option>
                    <% console.log(product.category.category); %>
                    <% if(category.length>0){
                      for(let i=0;i<category.length;i++){ %>
                        <option value="<%=category[i]._id%>">
                          <%=category[i].category%>
                        </option>
                        <% } } %>
                  </select>
                </div>
            </div>


                <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                  <div class="tm-product-img-dummy mx-auto" style="background-image: url(/proImage/<%=product.image[0]%>);">
                  </div>
                  <div class="custom-file mt-3 mb-3">
                    <input type="file" name="image" class="btn btn-primary btn-block mx-auto" value="<%= product.image %>"
                      onchange="return fileValidation()" multiple id="customFile2" />
                  </div>
                </div>
                <div class="col-12 justify-content-center">
                  <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Product</button>
                  <%if(msg!=null){%>
            <script>
                new Swal({
                  title: "Error",
                  text: "<%=msg%>",
                  icon: "error",
                  showConfirmButton:false,
                  timer:2000
                });
            </script>
           <%}%>
           <% if(message){ %>
        <script>
          new Swal({
            title: "Success",
            text: "<%=message%>",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
          });
        </script>
        <% } %>
           <small class="error text-uppercase text-danger"></small>
                </div>
              </form>
              
            <div class="col-12 justify-content-center"><br><br>
              <div class="d-flex justify-content-center">
              <a href="/admin/category" class="text-white">Add New Category</a>
            </div></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>
    const form = document.getElementById("editform");
    const title = document.getElementById("title");
    const brand = document.getElementById("brand");
    const price = document.getElementById("price");
    const description = document.getElementById("description");
    const category = document.getElementById("category");
    const stocks = document.getElementById("stocks");
    const image = document.getElementById('customFile2')
    const errorElement = document.querySelector('.error');

    const regex_No =  /^[0-9]*$/

    form.addEventListener('submit', (e) => {
      let messages = [];

      if (title.value.trim().length === 0) {
        messages.push('Name is required');
      }

      if (brand.value.trim().length === 0) {
        messages.push('Brand is required');
      }

      if (price.value.toString().trim().length === 0) {
        messages.push('Price is required');
      }else if (!regex_No.test(price.value)) {
        messages.push('Price should be in number')
      }

      if (description.value.trim().length === 0) {
        messages.push('Description is required');
      }

      if (category === "Select Category") {
        messages.push('Brand is required');
      }

      if (stocks.value.toString().trim().length === 0) {
        messages.push('Stocks is required');
      }else if (!regex_No.test(stocks.value)) {
        messages.push('Stocks should be in number')
      }

      if (image.value.length === 0) {
        messages.push('Images is required');
      }

      if (messages.length > 0) {
        e.preventDefault();
        errorElement.innerText = messages.join(', ');
      } else {
        errorElement.innerText = '';
      }
    });



    function fileValidation() {
      const fileInput =
        document.getElementById('customFile2');

      const filePath = fileInput.value;

      const allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;

      if (!allowedExtensions.exec(filePath)) {
        alert('Invalid file type');
        fileInput.value = '';
        return false;
      }else if(fileInput.files.length !=3){
              alert('Please add 3 images');
              fileInput.value = '';
              return false;
            }
      else {
        if (fileInput.files && fileInput.files[0]) {
          const reader = new FileReader();
          reader.onload = function (e) {
            document.getElementById(
              'imagePreview').innerHTML =
              '<img src="' + e.target.result
              + '"/>';
          };

          reader.readAsDataURL(fileInput.files[0]);
        }
      }
    }
  </script>

  <%- include('../layouts/adminFooter.ejs') %>