<%- include('../layouts/adminHeader.ejs') %>

    <body id="reportsPage">
        <div class="" id="home">
            <nav class="navbar navbar-expand-xl">
                <div class="container h-100 ">
                    <a class="navbar-brand" href="/admin/home">
                        <h1 class="tm-site-title mb-0 font">organifresh</h1>
                    </a>
                    <button class="navbar-toggler ml-auto mr-0" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-justify" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                            </svg></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mx-auto h-100">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/home">
                                    <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
                                            <path
                                                d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z" />
                                            <path fill-rule="evenodd"
                                                d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z" />
                                        </svg></i>
                                    Dashboard
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" href="/admin/userData">
                                    <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                                        </svg></i>
                                    User Data
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/addProduct">
                                    <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-capslock" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H11.5v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1H1.654C.78 9.5.326 8.455.924 7.816L7.27 1.047zM14.346 8.5 8 1.731 1.654 8.5H4.5a1 1 0 0 1 1 1v1h5v-1a1 1 0 0 1 1-1h2.846zm-9.846 5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1zm6 0h-5v1h5v-1z" />
                                        </svg></i>
                                    Add Product
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/products">
                                    <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-box-seam" viewBox="0 0 16 16">
                                            <path
                                                d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z" />
                                        </svg></i>
                                    Products
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/category">
                                    <i class=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-c-square-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm6.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z" />
                                        </svg></i>
                                    Category
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle mt-1" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-cog"></i>
                                    <span class="mt-1">
                                        More <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/admin/coupon">Coupon</a>
                                    <a class="dropdown-item" href="/admin/banner">Home Page Controls</a>
                                    <a class="dropdown-item" href="/admin/salesReport">Sales Report</a>
                                </div>
                            </li>

                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link d-block" href="/admin/logout">
                                    <b>Logout</b>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container">
                <!-- row -->

                <div class="col-12 tm-block-col">
                    <div class="d-flex justify-content-end mt-4 mb-4">
                        <form>
                            <input class="bg-dark text-white" type="text" name="search">
                            <input type="submit" class=""
                                style="height: 30px; background-color: #f56623; color: white; border-color: #f56623;"
                                value="Search">
                        </form>
                    </div>
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Users List</h2>
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th scope="col">No.</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Actions</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% if(users.length>0){
                                    for(let i=0;i<users.length;i++){ %>
                                        <tr scope="row">
                                            <td>
                                                <%=i+1%>
                                            </td>
                                            <td>
                                                <%=users[i].username%>
                                            </td>
                                            <td>
                                                <%=users[i].email%>
                                            </td>
                                            <td>
                                                <%=users[i].phone%>
                                            </td>

                                            <td>
                                                <%if(users[i].is_blocked==0){%>

                                                    <ul class="listq wrapperq item ml-3 ">
                                                        <a href="/admin/blockUser?id=<%=users[i]._id%>" class="link tw addMore mr-2 bg-danger" title="Block User"
                                                            onclick="return confirm('Are you sure you want to Block?');">
                                                            <i class=""><svg fill="#000000" height="17" width="17" version="1.1" id="Layer_1"
                                                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330"
                                                                    xml:space="preserve">
                                                                    <g id="XMLID_467_">
                                                                        <path id="XMLID_468_" d="M315,200h-5v-25c0-30.327-24.673-55-55-55s-55,24.673-55,55v18.038
                                                    c-21.634-23.754-52.333-37.538-85-37.538c-63.411,0-115,51.589-115,115c0,8.284,6.716,15,15,15h165V315c0,8.284,6.716,15,15,15h120
                                                    c8.284,0,15-6.716,15-15V215C330,206.716,323.284,200,315,200z M230,175c0-13.785,11.215-25,25-25c13.785,0,25,11.215,25,25v25h-50
                                                    V175z M31.325,255.5c7.105-39.739,41.924-70,83.675-70c25.258,0.001,48.924,11.155,65,30.233V255.5H31.325z M300,300h-90v-70h5h80
                                                    h5V300z" />
                                                                        <path id="XMLID_474_" d="M115,125.5c34.601,0,62.75-28.149,62.75-62.75S149.601,0,115,0S52.25,28.149,52.25,62.75
                                                    S80.399,125.5,115,125.5z M115,30c18.059,0,32.75,14.691,32.75,32.75S133.059,95.5,115,95.5S82.25,80.809,82.25,62.75
                                                    S96.941,30,115,30z" />
                                                                    </g>
                                                                </svg></i>
                                                        </a>
                                                    </ul>

                                                    <%}else{%>
                                                        <ul class="listq wrapperq item ml-3 ">
                                                            <a href="/admin/unBlockUser?id=<%=users[i]._id%>" class="link tw addMore mr-2 bg-success" title="Un-Block User"
                                                                onclick="return confirm('Are you sure you want to Un-Block?');">
                                                                <i class=""><svg fill="#000000" height="17" width="17" version="1.1" id="Layer_1"
                                                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330"
                                                                        xml:space="preserve">
                                                                        <g id="XMLID_467_">
                                                                            <path id="XMLID_468_" d="M315,200h-5v-25c0-30.327-24.673-55-55-55s-55,24.673-55,55v18.038
                                                        c-21.634-23.754-52.333-37.538-85-37.538c-63.411,0-115,51.589-115,115c0,8.284,6.716,15,15,15h165V315c0,8.284,6.716,15,15,15h120
                                                        c8.284,0,15-6.716,15-15V215C330,206.716,323.284,200,315,200z M230,175c0-13.785,11.215-25,25-25c13.785,0,25,11.215,25,25v25h-50
                                                        V175z M31.325,255.5c7.105-39.739,41.924-70,83.675-70c25.258,0.001,48.924,11.155,65,30.233V255.5H31.325z M300,300h-90v-70h5h80
                                                        h5V300z" />
                                                                            <path id="XMLID_474_" d="M115,125.5c34.601,0,62.75-28.149,62.75-62.75S149.601,0,115,0S52.25,28.149,52.25,62.75
                                                        S80.399,125.5,115,125.5z M115,30c18.059,0,32.75,14.691,32.75,32.75S133.059,95.5,115,95.5S82.25,80.809,82.25,62.75
                                                        S96.941,30,115,30z" />
                                                                        </g>
                                                                    </svg></i>
                                                            </a>
                                                        </ul>
                                                        <%}%>
                                            </td>
                                            <td>
                                                <%=users[i].Status%>
                                            </td>
                                        </tr>
                                        <% } } else{ %>
                                            <tr>
                                                <td colspan="5">Users Not Found</td>
                                            </tr>
                                            <% } %>
                            </tbody>
                        </table>
                        <%for(let j=1;j<=totalPages;j++){%>
                            <a class="text-white btn-sm btn-secondary" href="?page=<%=j%>">
                                <%=j%>
                            </a>
                            <%}%>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </body>

    <%- include('../layouts/adminFooter.ejs') %>