<%- include('../layouts/userHeader.ejs') %>
<style>
  .anim {
    background-color: red;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count : infinite;
  }
  
  @keyframes example {
    0%   {background-color: red;}
    10%  {background-color: rgb(139, 139, 0);}
    20%  {background-color: blue;}
    30% {background-color: green;}
    40%   {background-color: red;}
    50%  {background-color: rgb(139, 139, 0);}
    60%  {background-color: blue;}
    70% {background-color: green;}
    80%   {background-color: red;}
    90%  {background-color: rgb(139, 139, 0);}
    100% {background-color: green;}
  }
  </style>

<section id="home-section" class="hero">
  <div class="home-slider owl-carousel">
<%if(banner){%>

    <div class="slider-item" style="background-image: url(banner/<%=banner.image[0]%>);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-12 ftco-animate text-center">
            <h1 class="mb-2"><%=banner.heading1%></h1>
            <!-- We serve Fresh Vegestables &amp; Fruits -->
            <h2 class="subheading mb-4"><%=banner.description1%></h2>
            <!-- We deliver organic vegetables &amp; fruits -->
            <p><a href="/shopPage" class="btn btn-primary">Shop Now</a></p>
          </div>

        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url(banner/<%=banner.image[1]%>);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-sm-12 ftco-animate text-center">
            <h1 class="mb-2"><%=banner.heading2%></h1>
            <!-- 100% Fresh &amp; Organic Foods -->
            <h2 class="subheading mb-4"><%=banner.description2%></h2>
            <!-- We deliver organic vegetables &amp; fruits -->
            <p><a href="/shopPage" class="btn btn-primary">Shop Now</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section">
  <div class="container">
    <div class="row no-gutters ftco-services">
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-shipped"></span>
          </div>
          <div class="media-body">
            <h3 class="heading"><%=banner.heading3%></h3>
            <!-- Free Shipping -->
            <span><%=banner.description3%></span>
            <!-- On orders over ₹ 100/- -->
          </div>
        </div>      
      </div>
      <%}%>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-diet"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Always Fresh</h3>
            <span>Well Packaged Products</span>
          </div>
        </div>    
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-award"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Superior Quality</h3>
            <span>Quality Products</span>
          </div>
        </div>      
      </div>
      <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services mb-md-0 mb-4">
          <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            <span class="flaticon-customer-service"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Support</h3>
            <span>24/7 Support</span>
          </div>
        </div>      
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-category ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 order-md-last align-items-stretch d-flex">
            <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url(images/category.jpg);">
              <div class="text text-center">
                <h2>Vegetables</h2>
                <p>Protect the health of every home</p>
                <p><a href="/shopPage" class="btn btn-primary">Shop now</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(images/category-1.jpg);">
              <div class="text px-3 py-1">
                <h2 class="mb-0 text-white">Vegetables</h2>
              </div>
            </div>
            <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(images/category-2.jpg);">
              <div class="text px-3 py-1">
                <h2 class="mb-0 text-white">Fruits</h2>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(images/category-3.jpg);">
          <div class="text px-3 py-1">
            <h2 class="mb-0 text-white">Milk And Milk Products</h2>
          </div>		
        </div>
        <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(images/category-4.jpg);">
          <div class="text px-3 py-1">
            <h2 class="mb-0 text-white">Dried Fruits & Nuts</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h2 class="mb-4">New Products</h2>
        <p>100% Organic. For a healthier you. For A better self. For a great future.</p>
      </div>
    </div>   		
  </div>
  <div class="container">
    <div class="row">
      <% if(product.length>0){
        for(let i=0;i<8;i++){ %>
          <div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="product">
    					<a href="/singleProduct?id=<%=product[i]._id%>" class="img-prod"><img class="img-fluid" src="/proImage/<%=product[i].image[0]%>" alt="Colorlib Template">
                <span class="status mt-1 ml-1 anim">New</span>
    						<div class="overlay"></div>
              </a>
    					<div class="text py-3 pb-4 px-3 text-center">
    						<h3><a href="/singleProduct?id=<%=product[i]._id%>"><%-product[i].title%></a></h3>
    						<div class="d-flex">
    							<div class="pricing">
		    						<p class="price"><span class="price-sale">Rs. <%-product[i].price%>/-</span></p>
		    					</div>
	    					</div>
	    					<div class="bottom-area d-flex px-3">
	    						<div class="m-auto d-flex">
	    							<a href="/addToCart?id=<%=product[i]._id%>" class="buy-now d-flex justify-content-center align-items-center mx-1">
	    								<span><i class="ion-ios-cart"></i></span>
	    							</a>
	    							<a href="/addToWishlist?id=<%=product[i]._id%>" class="heart d-flex justify-content-center align-items-center ">
	    								<span><i class="ion-ios-heart"></i></span>
	    							</a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
          <% } } %>
    </div>
  </div>
</section>

<section class="ftco-section img" style="background-image: url(images/bg_3.jpg);">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
        <span class="subheading">100% Organic</span>
        <h2 class="mb-4">For a healthier you</h2>
        <p>For a better self</p>
        <h3><a href="/">For a great future</a></h3>
        <span class="price"><a href="#"></a></span>
      </div>
    </div>   		
  </div>
</section>

<hr>
<%if(message!=null){ %>
    <script>
        new Swal({
            title: "Success",
            text: "<%=message%>",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
    <%}%>
    <%if(msg!=null){%>
      <script>
        new Swal({
          title: "",
          text: "<%=msg%>",
          icon: "error",
          showConfirmButton: false,
          timer: 2000
        });
      </script>
      <%}%>


    <%- include('../layouts/userFooter.ejs') %>