<%- include('../layouts/userHeadernull.ejs') %>

<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
        <div class="col-md-12 ftco-animate">
    <h2 class="tm-block-title text-center my-5">Order History</h2>
            <div class="cart-list">
                <table class="table table-striped text-center ">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th scope="col">Start Date</th>
                            <th scope="col">Products Count</th>
                            <th scope="col">totalPrice</th>
                            <th scope="col">Status</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
            <%if(orders){%>
                <tbody>
                    <%orders.forEach(order => {%>
                        <tr scope="row">
                            <td>
                                <%= order.start_date %>
                            </td>
                            <td>
                                <%= order.proCount %>
                            </td>
                            <td>
                                <%= order.totalPrice %>
                            </td>
                            <td>
                                <%=order.status%>
                            </td>
                            <td>
                                <a
                                href="/orders?orderid=<%=order._id%>"
                                class="btn btn-warning btn-sm rounded-pill">View</a>
                            </td>
                           
                        </tr>
                    <%})%>
            </tbody>
                <%}%>
                </table>
              </div>
        </div>
    </div>
    </div>
</section>




<%if(message!=null){ %>
    <script>
        new Swal({
            title: "Success",
            text: "<%=message%>",
            icon: "success",
            showConfirmButton: false,
            timer: 2000
        });
    </script>
    <%}%>
<%- include('../layouts/userFooternull.ejs') %>
